.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }
  
  .board-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .status{
    margin-top: 30px;
    font-weight: bold;
  }
  .status.winner{
    color: green;
  }